<!DOCTYPE html>

<html>

	<head>
		<title>Voting App - ZEEYON CHUNG</title>

		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<%- include('../common/header', { 'user' : user }); %>

	<body class="show">
		<div class="container">
			<form action="/vote/pick" method="post">
				<p><%= data %></p>
				<h3><%= data.vote.title %></h3>
				<input name="id" value="<%= data._id %>" type="hidden">
				<p>I'd like to vote for... :</p>
				<select name="option" class="form-control">
					<% for (var i = 0; i < data.vote.options.length; i++) { %>
						<option value="<%= data.vote.options[i]._id %>"><%= data.vote.options[i].name %></option>
					<% } %>
				</select>
				<button type="button" class="btn" id="btn-pick">submit</button>

				<div class="list-options">
					<% for (var i = 0; i < data.vote.options.length; i++) { %>
						<p><%= data.vote.options[i] %></p>
					<% } %>
				</div>
			</form>
		</div>

		<a href="#" onclick="location.href = document.referrer;">back</a>
		<% if (user && user._id == data.vote.author) { %>
			<a href="#" onclick="$('#deleteForm').submit();">delete</a>
			<form id="deleteForm" action="/vote/delete" method="post">
				<input name="id" value="<%= data._id %>" type="hidden">
				<input name="author" value="<%= user._id %>" type="hidden">
			</form>
		<% } %>

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>

		<script>
			'use strict';

			$("#btn-pick").click(function(e) {
				e.stopPropagation()

				var params = {"id" : $("input[name=id]").val(),
				"option" : $("select[name=option]").val()};

				$.ajax({
					type: 'POST',
					url: '/vote/pick',
					data: params,
					dataType: 'JSON',
					success: function(result) {
						var options = result.vote.options;

						$(".list-options").empty();

						for (var i = 0; i < options.length; i++) {
							console.log(options[i]);
							$(".list-options").append('<p>' + options[i] + '</p>');
						}
					},
					error: function(err) {
						console.log(err);
						alert('err!');
					}
				});
			});
		</script>

	</body>
</html>