<!DOCTYPE html>

<html>

	<head>
		<title>Voting App - ZEEYON CHUNG</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/public/css/pin_main.css" rel="stylesheet" type="text/css">
	</head>

	<body class="detail">
		<%- include('../common/header_pin', { 'user' : user }); %>

		<div class="container">
			<div class="content">
				<img src="/uploads/<%= data.pin.imgPath %>">
				<p><%= data.pin.description %></p>
				<!--<div class="profile">
					<% if (data.pin.author[0].facebook.profileUrl) { %>
						<img src="<%= data.pin.author[0].facebook.profileUrl %>">
					<% } else { %>
						<img src="/uploads/profile.png">
					<% } %>
					<span class="author"><%= data.pin.author[0].facebook.displayName %></span>
				</div>-->
				<form action="/pin/delete" method="post">
					<input name="id" value="<%= data._id %>" type="hidden"/>
					<button type="submit" class="btn btn-default">delete</button>
				</form>

				<div class="comments">
					<hr>
					<ul>
						<% for (var i = 0; i < data.comments.length; i++) { %>
							<li class=<%= data.comments[i].comment.depth == 0 ? 'depth0' : 'depth1' %>>
								<span id="<%= data.comments[i]._id %>"><%= data.comments[i].comment.content %></span>
								<% if (user && JSON.stringify(data.comments[i].comment.author[0]._id) == JSON.stringify(user._id)) { %>
									<span class="btn-cmt-delete" data-id="<%= data.comments[i]._id %>">&times;</span>
								<% } %>
								<% if (data.comments[i].comment.depth == 0) { %>
									<span class="btn-reply" data-parent="<%= data.comments[i]._id %>">reply</span>
								<% } %>
							</li>
						<% } %>
					</ul>
					<hr>
					<form action="/pin/comment/add" method="post" class="comment-box">
						<textarea name="content"></textarea>
						<input type="hidden" name="parent"/>
						<input type="hidden" name="article" value="<%= data._id %>">
						<button type="sumbit" <%= user? '': 'disabled' %>>submit</button>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/tether.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>

		<script>
			$(document.body).on('click', '.btn-reply', function() {
				var commentBox = $('.comment-box').first().clone();
				commentBox.children('input[name="parent"]').val($(this).attr('data-parent'));
				commentBox.appendTo($(this).parent('li'));
				$(this).removeClass('btn-reply').addClass('btn-close-reply');
			});

			$(document.body).on('click', '.btn-close-reply', function() {
				$(this).parent('li').children('.comment-box').remove();
				$(this).removeClass('btn-close-reply').addClass('btn-reply');
			});
		</script>

		<script>
			$(document.body).on('click', '.btn-cmt-delete', function() {
				var elem = $(this);

				$.ajax({
					method: "POST",
					url: "/pin/comment/delete",
					data: {'id' : elem.attr('data-id')},
					success: function(result) {
						elem.parent('li').remove();
					}
				});
			});
		</script>

		<!--<script>
			var data = <%- JSON.stringify(data) %>;
		</script>-->
	</body>

</html>
